# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Django database
db.sqlite3
mysite/media/
mysite/staticfiles/
mysite/logs/*.log

# Environment variables / secrets
.env
mysite/.env

# VS Code settings (optional)
.vscode/
